<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130132342-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-130132342-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Listen to the ones that need to be heard.">
    <meta name="author" content="">

    <title>About Us</title>
    <link rel="shortcut icon" href="img/sprout.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png"/>


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- <link rel="stylesheet" href="css/grayscale.min.css"> -->
    <link rel="stylesheet" href="css/style8.3.css">

</head>


  <body id = "page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Vitam</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#art">Aphasia Art</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/mask">Mask Fundraiser</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header style="background-image: linear-gradient(#88D6F2, #72F274)">
      <div class="container d-flex h-100 align-items-center" style="padding:0; flex-wrap:wrap; padding-bottom:12%; padding-top:12%; justify-content:space-around">
          <!-- <img src="img/logo.png" class="img-fluid" alt="Vitam Logo" style="width: 25%"> -->
        
          <h1 style="width:100%; text-align:center; font-size:4rem">Our Story</h1>
          <a class="btn btn-light" href="#inspiration">From the Beginning</a>
      </div>
    </header>

    <!-- Co-Founders -->
    <section class="projects-section bg-light" style="padding-top: 5rem">
      <div class="container" style="text-align: center">
        <h2 class="mx-auto text-center" style="color: black; padding-bottom:5%; font-size: 2.3em">Co-Founders</h2>

        <!-- Project One Column -->
        <div style="display: inline-block; max-width: 40%; padding-right: 4rem">
        <div class="justify-content-center no-gutters mb-5 mb-lg-0">
          <div>
            <img class="profile-pic" src="img/linda.jpg" alt="Linda Profile Picture">
          </div>
          <div>
            <div class="text-center h-100 project" style="background: #FF9603">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center">
                  <h4 class="text-white">Linda Weng</h4>
                  <p class="mb-0">Linda is a freshman at the University of Michigan studying computer science.</p>
                  <hr class="d-none d-lg-block mb-0">
                  <button class="btn-sm btn-light" style="margin-top: 1rem"><a href="/pdf/linda-resume.pdf" target="_blank">Resume</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Column -->
        </div><div style="display: inline-block; max-width: 40%; padding-left: 4rem">
        <div class="justify-content-center no-gutters">
          <div>
            <img class="profile-pic" src="img/maxwell.jpg" alt="Maxwell Profile Picture">
          </div>
          <div class="order-lg-first">
            <div class="text-center h-100 project" style="background: #FF9603">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center">
                  <h4 class="text-white">Maxwell Weng</h4>
                  <p class="mb-0">Maxwell is a junior at the University of Michigan studying computer science and biomolecular sciences.</p>
                  <hr class="d-none d-lg-block mb-0">
                  <button class="btn-sm btn-light" style="margin-top: 1rem"><a href="/pdf/maxwell-resume.pdf" target="_blank">Resume</a></button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <hr style="margin: 0; border: 0.5rem dashed #75FB78">
    
    <!-- Inspiration -->
    <section class="story" id="inspiration">
      <div class="container" style="text-align: center;">
        <div class="column">
          <img src="img/grandmaTape.png">
        </div>
        <div class="column">
          <h3>Inspiration</h3>
          <!-- <p class="text-muted">The seed was planted</p> -->
          <div class="text-left">
            <p>Linda and Maxwell Weng founded Vitam in memory of their grandmother. Their grandmother had 2 strokes. As a result, she suffered left-sided hemiparesis, and she could no longer talk, write, or type, losing her ability to express language. When Linda and Maxwell called their grandmother through video conferencing to tell her what was going on in their lives every weekend, they could see her brow furrowed, eyes squinting, and mouth open trying her hardest to respond … and nothing coming out. She was frustrated and upset, and it frustrated us just as much to not know what she wanted to tell us.</p>
            <p>We wanted to help but didn't know what to do.<p>
          </div>
        </div>
      </div>
    </section>

    <!-- First Prototype -->
    <section class="story" id="prototype">
      <div class="container" style="text-align: center;">
        <div class="column">
          <h3>First Steps</h3>
          <!-- <p class="text-muted">The plant had sprouted</p> -->
          <div class="text-left">
            <p>Through 36 hours of non-stop computer programming at MHacks 11 (the largest student-run collegiate hackathon), Linda and Maxwell created the first prototype of what would later become Vitam, called Vitamin See. Although their grandmother had unfortunately passed, Linda and Maxwell were driven to help other people with communication disorders like their grandmother in her memory. So, Linda and Maxwell connected with speech-language pathologists at the University of Michigan Aphasia Program (UMAP) to learn more about how they could make a difference in the lives of people with communication disorders like their grandmother.</p>
          </div>
        </div>
        <div class="column">
          <img src="img/firstSteps.png">
        </div>
      </div>
    </section>

    <!-- Turning this project into an organization -->
    <section class="story" id="organization">
      <div class="container" style="text-align: center;">
        <div class="column">
          <img src="img/wordArt.png">
        </div>
        <div class="column">
          <h3>Founding of Vitam</h3>
          <!-- <p class="text-muted">The plant is growing</p> -->
          <div class="text-left">
            <p>To help people with communication disorders like their grandmother, Linda and Maxwell reached out to the University of Michigan network. Through entrepreneurship programs at the University of Michigan like Innovation In Action, Dare to Dream, and the optiMize Social Innovation Challenge, Linda and Maxwell interviewed all stakeholders, prototyped, and tested the product that was growing to become Vitam. Through the rapid growth and change, Linda and Maxwell realized that they needed a new name. Thus, Vitam was born. Vitam comes from the Latin root Vita- which means life, exactly what we strive to help people with communication disorders recover.</p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- It's Only the Beginning -->
    <section class="story" id="now">
      <div class="container" style="text-align: center;">
        <div class="section-heading text-center">
          <h3>It's Only the Beginning</h3>
        </div>
        <div class="text-center">
          <p>We have come a long way, but we still have so much more we want to do for people with communication disorders.</p>
          <p>Vitam wouldn't be what it is today without the help and support of our mentors at the University of Michigan and the amazingly talented speech language pathologists at the University of Michigan Aphasia Program (UMAP).</p>
        </div>
      </div>
    </section>

    <!-- Our Story -->
    <!-- <section class="story">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Our Story</h2>
        </div>
        <div class="text-left">
          <p>Vitam started as a very personal project for us and continues to be very personal to this day. Seven years ago, our grandma had two strokes and suffered from aphasia as a result of them. Aphasia is the loss of ability to express or understand language. Due to this loss of language, she could no longer communicate with us.</p>
          <p>We created Vitam to help not only our grandma and our family, but to help patients with aphasia everywhere.</p>
          <p class="sign-off">~ Linda and Maxwell Weng</p>
          <p class="sign-off" style="padding-left: 2rem">Co-Founders of Vitam</p>
        </div>
      </div>
    </section> -->

    

    

    <!-- Contact Section -->
    <section id="contact" class="contact-section bg-white" style="background: white !important">

     <div class="container">
      <div class="section-heading text-center">
        <h3>Contact Us</h3>
        <p>For questions, feedback, and more!</p>
        <div class="row">
          <div class="col-sm-6">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="m-0">Email us at:</h4>
            <div class="text-black-50">
              <a href="mailto:vitam.connect@gmail.com">vitam.connect@gmail.com</a>
            </div>
          </div>
          <div class="social d-flex justify-content-center col-sm-6">
            <a href="https://www.facebook.com/vitam.connect" class="mx-2">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </div>   

       <%# <div class="social d-flex justify-content-center">
         <a href="#" class="mx-2">
           <i class="fab fa-twitter"></i>
         </a>
         <a href="#" class="mx-2">
           <i class="fab fa-facebook-f"></i>
          </a>
         <a href="#" class="mx-2">
           <i class="fab fa-github"></i>
         </a>
       </div> %>

     </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container" style="color:white">
        Copyright &copy; VITAM 2019
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.js"></script>

    <!--<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>-->

  </body>
</html>