<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130132342-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-130132342-2');
    </script>

    <!--<script src='js/config.js'></script>-->
    <!--<script type='text/javascript' src='js/script.js'></script>-->
    <!--<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>-->
    <!--<script>-->
    <!--// var mykey = config.MY_KEY;-->
    <!--  // Initialize Firebase-->
    <!--  var config = {-->
    <!--    apiKey: mykey,-->
    <!--    authDomain: "vitamin-see.firebaseapp.com",-->
    <!--    databaseURL: "https://vitamin-see.firebaseio.com",-->
    <!--    projectId: "vitamin-see",-->
    <!--    storageBucket: "vitamin-see.appspot.com",-->
    <!--    messagingSenderId: "747362065854"-->
    <!--  };-->
    <!--  firebase.initializeApp(config);-->
    <!--</script>-->
    <!--<script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>-->
    <!--<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Listen to the ones that need to be heard.">
    <meta name="author" content="">

    <title>Vitam</title>
    <link rel="shortcut icon" href="img/sprout.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png"/>


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->

    <%# <link rel="stylesheet" href="css/grayscale.min.css"> %>
    <link rel="stylesheet" href="css/style8.3.css">


</head>


  <body id = "page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Vitam</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header style="background-image: linear-gradient(#88D6F2, #72F274)">
      <div class="container d-flex h-100 align-items-center" style="padding:0; flex-wrap:wrap; padding-bottom:12%; padding-top:12%; justify-content:space-around">
          <%# <img src="img/logo.png" class="img-fluid" alt="Vitam Logo" style="width: 25%"> %>
        
          <h1 style="width:100%; text-align:center; font-size:4rem">About Us</h1>
      </div>
    </header>
    
    <!-- Our Story -->
    <section class="features story">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Our Story</h2>
        </div>
        <div class="text-left">
          <p>Vitam started as a very personal project for us and continues to be very personal to this day. Seven years ago, our grandma had two strokes and suffered from aphasia as a result of them. Aphasia is the loss of ability to express or understand language. Due to this loss of language, she could no longer communicate with us.</p>
          <p>We created Vitam to help not only our grandma and our family, but to help patients with aphasia everywhere.</p>
          <p class="sign-off">~ Linda and Maxwell Weng</p>
          <p class="sign-off" style="padding-left: 2rem">Co-Founders of Vitam</p>
        </div>
      </div>
    </section>

    <hr style="margin: 0; border: 0.5rem dashed #75FB78">

    <!-- Co-Founders -->
    <section class="projects-section bg-light" style="padding-top: 5rem">
      <div class="container">
        <h2 class="mx-auto text-center" style="color: black; padding-bottom:5%; font-size: 2.3em">Co-Founders</h2>

        <!-- Project One Column -->
        <div style="display: inline-block; max-width: 50%; padding-right: 1rem">
        <div class="justify-content-center no-gutters mb-5 mb-lg-0">
          <div>
            <img class="profile-pic" src="img/linda.jpg" alt="Linda Profile Picture">
          </div>
          <div>
            <div class="text-center h-100 project" style="background: #FF9603">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center">
                  <h4 class="text-white">Linda Weng</h4>
                  <p class="mb-0">Linda is a Senior at Novi High School. She will pursue Computer Science in college this fall.</p>
                  <hr class="d-none d-lg-block mb-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Column -->
        </div><div style="display: inline-block; max-width: 50%; padding-left: 1rem">
        <div class="justify-content-center no-gutters">
          <div>
            <img class="profile-pic" src="img/maxwell.jpg" alt="Maxwell Profile Picture">
          </div>
          <div class="order-lg-first">
            <div class="text-center h-100 project" style="background: #FF9603">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center">
                  <h4 class="text-white">Maxwell Weng</h4>
                  <p class="mb-0">Maxwell is a Sophomore at the University of Michigan studying Pre-Health.</p>
                  <hr class="d-none d-lg-block mb-0">
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section bg-white" style="background: white !important">

     <div class="container">
      <div class="section-heading text-center">
        <h3>Contact Us</h3>
        <p>For questions, feedback, and more!</p>
        <i class="fas fa-envelope text-primary mb-2" style="display: inline"></i>
        <h4 class="m-0" style="display: inline">Email us at:</h4>
        <div class="text-black-50" style="display: inline">
          <a href="mailto:vitam.llc@gmail.com">vitam.llc@gmail.com</a>
        </div>
      </div>   

       <%# <div class="social d-flex justify-content-center">
         <a href="#" class="mx-2">
           <i class="fab fa-twitter"></i>
         </a>
         <a href="#" class="mx-2">
           <i class="fab fa-facebook-f"></i>
          </a>
         <a href="#" class="mx-2">
           <i class="fab fa-github"></i>
         </a>
       </div> %>

     </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container" style="color:white">
        Copyright &copy; VITAM 2019
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.js"></script>

    <!--<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>-->

  </body>
</html>