<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130132342-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-130132342-2');
    </script>

    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/sprout.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Listen to the ones that need to be heard.">
    <meta name="author" content="">

    <title>Vitam</title>
    
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png"/>


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->

    <%# <link rel="stylesheet" href="css/grayscale.min.css"> %>
    <link rel="stylesheet" href="css/style8.3.css">


</head>


  <body id = "page-top" onload="sizeVideo()">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Vitam</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" onclick="tutorial()" href="#">Tutorial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#art">Aphasia Art</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/mask">Mask Fundraiser</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/support">Get Involved</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header style="background-image: linear-gradient(#88D6F2, #72F274)">
      <div class="container d-flex h-100 align-items-center" style="padding:0; flex-wrap:wrap; padding-bottom:12%; padding-top:12%; justify-content:space-around">
        <!-- <div class="mx-auto text-center masthead" style="display: inline-block; padding-top: 3rem"> -->
          <!-- <h1 class="mx-auto my-0 text-uppercase">VITAM</h1> -->
          <img src="img/logo.png" class="img-fluid" alt="Vitam Logo">
        <!-- </div> -->
        
        <!-- Tutorial Pop-up -->
        <div class="noshow modal" id="tutorial" style="background: rgb(128, 128, 128, 0.5)">
          <div class="tutorial">
            <h4>Start here by logging into our test account.</h4>
            <div class="arrow arrow-down" style="margin-left: 38%;margin-top: 5.5%">
            </div>
          </div>
        </div>

        <div id="login" class="form-inline home-login img-fluid" style="display: inline">
          <h2>Login</h2>
          <h2><%=@output%></h2>
          <form method="POST" action="/login">
            <h4>Email:</h4>
            <input style="width:auto" type="text" name="email" id="email" required>
            <h4>Password:</h4>
            <input style="width:auto" type="password" name="password" id="password" required>
            <h4></h4>
            <input type="hidden" name="tutorial" id="tutInput" value="0">
            <input class="btn btn-light hov-special" type="submit">
          </form>
          <div style="text-align: center">
            <h5>Don't have an account?</h5>
            <a href = "#signup" class="btn btn-light">Sign up</a>
          </div>
        </div>
      </div>
    </header>
    
    <!-- About -->
    <section id="about" class="projects-section bg-light">
      <!-- <div class="container">         -->

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <!-- <video class="img-fluid" src="img/action-adult-affection-339620.jpg" alt=""> -->
            <video controls id="videoElement">
              <source src="audio/vitamDemo.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-lg-6" id="sizebox">
            <div class="text-center h-100 project" style="background: #FF9603">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Our Product</h4>
                  <p class="mb-0 text-white">Vitam is an online, personalized communication aid that empowers clinicians, family, and student volunteers to help people with communication disorders recover. Vitam has been developed with speech-language pathologists at the University of Michigan Aphasia Program. There are 3 separate products within Vitam: the Yes-No Board, the Picture Board, and the Messaging Template. Each has been designed for people with communication disorders of a certain severity. Click the video to the left to see Vitam in action (turn on the sound)!</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          
          <div class="col-lg-6 order-lg-first">
            <div class="text-center h-100 project" style="background: #FF9603">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Our Story</h4>
                  <p class="mb-0 text-white">Vitam is developed by a student group at the University of Michigan dedicated to helping people with communication disorders who have lost their ability to express language reconnect with their loved ones. Linda and Maxwell Weng, inspired by their grandmother's long struggle with Broca’s aphasia (the loss of ability to express language), co-founded Vitam in 2019.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid" src="img/map.png" alt="">
          </div>
        </div>

      <!-- </div> -->
    </section>

    <!-- Art Project -->
    <section id="art" class="projects-section bg-light">
      <div class="container">
        <h1 class="mx-auto text-center">Aphasia Community Art Project</h1>
        <hr>
        <p class="text-center">Through this digital quilt, we want to highlight all that people with aphasia, caregivers, and clinicians have accomplished in transitioning to virtual meetings and therapy in the face of the Covid-19 pandemic. If you support this mission, please share this project!</p>
        <img class="img-fluid img-center" src="img/artFlyer.png" alt="Art Project Flyer">
      </div>
    </section>

    <!-- Signup -->
    <section class="features signup-section" id="signup">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Please enter your information:</h2>
          <p class="text-muted">Sign up for an account to use Vitam!</p>
          <hr>
        </div>
        <div class = "text-center" >
          
            <div class = "row">
              <!--<div class = "col-4">-->
                
              <!--</div>-->
              <div class = "col-lg-6 form-inline" style="display: inline">
                <form method="POST" action="/create_account">
                  <h4>Name:</h4>
                  <input type="text" name="name" required>
                  <br>
                  <h4>Phone Number:</h4>
                  <input type="text" name="phone" required>
                  <br>
                  <h4>Email:</h4>
                  <input type="text" name="email" required>
                  <br>
                  <h4>Password:</h4>
                  <input type="password" name="password" required>
                  <br>
                  <h4></h4>
                  <input type="submit" class = "btn btn-light hov-special" style="width: auto">
                </form>
                <h5>Already have an account?</h5>
                <a href = "#page-top" class = "btn btn-light" style = "color:black !important">Login</a>
              </div>
              <div class = "col-lg-6">
                <img src="img/logo.png" class="img-fluid" alt="Vitam Logo" style="padding-top:20%">
              </div>
           </div>
        </div>
      </div>
    </section>
    
    <!--<form>-->
    <!--  <input type="file" accept="audio/*;capture=microphone">-->
    <!--  <input type="file" accept="image/*;capture=camera">-->
    <!--</form>-->


    <!-- Contact Section -->
    <section id="contact" class="contact-section bg-white" style="background: white !important">

     <div class="container">
      <div class="section-heading text-center">
        <h3>Contact Us</h3>
        <p>For questions, feedback, and more!</p>
        <div class="row">
          <div class="col-sm-6">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="m-0">Email us at:</h4>
            <div class="text-black-50">
              <a href="mailto:vitam.connect@gmail.com">vitam.connect@gmail.com</a>
            </div>
          </div>
          <div class="social d-flex justify-content-center col-sm-6">
            <a href="https://www.facebook.com/vitam.connect" class="mx-2">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </div>

       <%# <div class="social d-flex justify-content-center">
         <a href="#" class="mx-2">
           <i class="fab fa-twitter"></i>
         </a>
         
         <a href="#" class="mx-2">
           <i class="fab fa-github"></i>
         </a>
       </div> %>

     </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container" style="color:white">
        Copyright &copy; VITAM 2019
      </div>
    </footer>

    <script>
      function tutorial() {
        var email = document.getElementById("email");
        var password = document.getElementById("password");
        var tut = document.getElementById("tutInput")
        email.value = "vitam.connect@gmail.com"
        password.value = "vitam"
        tut.value = "1"

        var pop = document.getElementById("tutorial");
        $(pop).removeClass("noshow");
        $(pop).addClass("show");

        document.getElementById("login").style.zIndex = "1051";
      }

      function sizeVideo() {
        var video = document.getElementById("videoElement");
        var dims = document.getElementById('sizebox').getBoundingClientRect();
        var vidHeight = dims.height;
        var vidWidth = dims.width;
        video.height = vidHeight;
        video.width = vidWidth;
      }
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.js"></script>

    <!--<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>-->

  </body>
</html>