<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130132342-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-130132342-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Listen to the ones that need to be heard.">
    <meta name="author" content="">

    <title>Mask Fundraiser</title>
    <link rel="shortcut icon" href="img/sprout.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png"/>


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->

    <%# <link rel="stylesheet" href="css/grayscale.min.css"> %>
    <link rel="stylesheet" href="css/style8.3.css">


</head>


  <body id = "page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Vitam</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#art">Aphasia Art</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header style="background-image: linear-gradient(#88D6F2, #72F274)">
      <div class="container d-flex h-100 align-items-center" style="padding:0; flex-wrap:wrap; padding-bottom:12%; padding-top:12%; justify-content:space-around">        
          <h1 style="width:100%; text-align:center; font-size:4rem">Mask Fundraiser</h1>
      </div>
    </header>
    
    <!-- Mask -->
    <section class="story">
      <div class="container" style="text-align: center;">
        <div class="column" style="padding-right: 1rem">
          <!-- <img src="img/mask0.jpeg" style="max-width: 100%;"> -->
          <!-- Slideshow container -->
          <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="slides fade show">
              <div class="numbertext">1 / 2</div>
              <img src="img/mask0.jpeg" style="width:100%">
              <!-- <div class="text">Caption Text</div> -->
            </div>

            <div class="slides fade noshow">
              <div class="numbertext">2 / 2</div>
              <img src="img/mask1.jpeg" style="width:100%">
              <!-- <div class="text">Caption Two</div> -->
            </div>

            <!-- <div class="slides fade noshow">
              <div class="numbertext">3 / 3</div>
              <img src="img/mask2.jpeg" style="width:100%">
              <div class="text">Caption Three</div>
            </div> -->

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          <br>

          <!-- The dots/circles -->
          <div style="text-align:center">
            <span class="dot active" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <!-- <span class="dot" onclick="currentSlide(3)"></span> -->
          </div>
        </div>
        <div class="column text-left" style="padding-left: 1rem">
          <h3>University of Michigan Mask</h3>
          <p class="text-muted">Price: $10</p>
          <ul>
            <li>ONE SIZE FITS MOST. Flexible expandable pleated design expandable to 9" X 6" and fits most adults and teens. The flexible metal nose bridge is adjustable for a more secure and tailored fit. Over-the-ear straps rest comfortably behind the ears for a secure fit.</li>
            <li>3-PLY (3 LAYERS). Inner and outer layers are U of M cloth with a middle layer of woven fusible interface. All 100% cotton.</li>
            <li>Breathable and durable</li>
            <li>Reusable and washable masks (Hand Wash/Line Dry/Iron Safe)</li>
            <li>Made according to CDC Tutorial</li>
            <li>This mask is not intended for medical use, and not proven to reduce the transmission of disease.</li>
          </ul>
        </div>

        <!-- Google Form -->
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdP_9DitJYStGAAFNKKsN8m6mxnwRiDU_0OI5ZiGfEnK4bqUw/viewform?embedded=true" width="640" height="808" frameborder="0" marginheight="0" marginwidth="0" style="margin-top: 2rem">Loading…</iframe>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section bg-white" style="background: white !important">

     <div class="container">
      <div class="section-heading text-center">
        <h3>Contact Us</h3>
        <p>For questions, feedback, and more!</p>
        <div class="row">
          <div class="col-sm-6">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="m-0">Email us at:</h4>
            <div class="text-black-50">
              <a href="mailto:vitam.connect@gmail.com">vitam.connect@gmail.com</a>
            </div>
          </div>
          <div class="social d-flex justify-content-center col-sm-6">
            <a href="https://www.facebook.com/vitam.connect" class="mx-2">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </div>   

       <%# <div class="social d-flex justify-content-center">
         <a href="#" class="mx-2">
           <i class="fab fa-twitter"></i>
         </a>
         <a href="#" class="mx-2">
           <i class="fab fa-facebook-f"></i>
          </a>
         <a href="#" class="mx-2">
           <i class="fab fa-github"></i>
         </a>
       </div> %>

     </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container" style="color:white">
        Copyright &copy; VITAM 2019
      </div>
    </footer>

    <script>
      var slideIndex = 1;
      showSlides(slideIndex);

      // Next/previous controls
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      // Thumbnail image controls
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            $(slides[i]).addClass("noshow");
            $(slides[i]).removeClass("show");
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        $(slides[slideIndex-1]).addClass("show");
        $(slides[slideIndex-1]).removeClass("noshow");
        dots[slideIndex-1].className += " active";
      }
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JS-->
    <script src="mail/jqBootstrapValidation.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.js"></script>

    <!--<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>-->

  </body>
</html>